.portafolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 1.5rem;
    padding: 2rem;
    justify-items: center; 
}


.protafolio-titulo {
    grid-column: 1 / -1; 
    text-align: center;
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #660000;
}

.portafolio {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portafolio img {
    width: 20rem; 
    height: 20rem; 
    border-radius: 50%; 
    object-fit: cover; 
    display: block;
    box-shadow: 3px 3px 5px black;
}

.subtitulos {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {
    .productos-grid {
        grid-template-columns: 1fr; 
    }

    .productos-titulo {
        font-size: clamp(0.5rem, 2.5rem, 5rem);
    }

    .portafolio img {
        width: 15rem; 
        height: 15rem; 
        box-shadow: 1.5px 1.5px 3px black;
    }

    .subtitulos {
        font-size: clamp(0.8rem, 1rem, 1.2rem);
    }
}

/* Estilo para pantallas pequeñas */
@media (max-width: 480px) {
    .portafolio-grid {
        grid-template-columns: 1fr; 
    }

    .portafolio-titulo {
        font-size: clamp(0.25rem, 1.75rem, 2.5rem);
    }

    .portafolio img {
        width: 10rem; 
        height: 10rem; 
        box-shadow: 1px 1px 1.5px black;
    }

    .subtitulos {
        font-size: clamp(0.6rem, 0.8rem, 1rem);
    }
}
