@import url(header.css);
@import url(main.css);
@import url(footer.css);
@import url(portafolio.css);
@import url(servicios.css);
@import url(nosotros.css);
@import url(contacto.css);

/* Reseteo de márgenes y relleno */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
html, body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', 'Open Sans', sans-serif; 
    background-color: #f9f9f9; /* Fondo gris claro */
    color: #333; /* Color de texto oscuro para contraste */
}

/* Estilos para enlaces */
a {
    color: #1B9AAA; /* Color de enlaces */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}